{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dw19ht</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

      <nav class="sidebar">
        <ul class="horizontal medium-vertical menu text-center">
          <li><a href="#"><img src="{{root}}assets/img/crab.svg" width="42" height="20" class="logo" alt="Dw19ht"></a></li>
          <li><a data-toggle="modal-infos">Infos</a></li>
          <li><a data-toggle="modal-menu">Menu</a></li>
        </ul>
      </nav>

      <div class="content">
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}
      </div>

      <div class="full reveal text-center" id="modal-infos" data-reveal data-animation-in="slide-in-down" data-animation-out="fade-out">
        <h2>About.</h2>
        <p class="lead">Oh well, heil Hitler, bitch! And let me tell you something else. So what're you saying? Like, I shot someone with, like, a gun? We flipped a coin, okay? You and me. You and me! Coin flip is sacred! Your job is waiting for you in that basement, as per the coin! </p>
        <div class="menu-centered">
          <ul class="horizontal menu">
            <li><a href="#">Facebook.</a></li>
            <li><a href="#">Twitter.</a></li>
            <li><a href="#">Tumblr.</a></li>
          </ul>
        </div>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="full reveal text-center" id="modal-menu" data-reveal data-animation-in="slide-in-down" data-animation-out="fade-out">
        <ul class="vertical menu">
          <li class="lead"><a href="#">Roadtrips.</a></li>
          <li class="lead"><a href="#">City guides.</a></li>
          <li class="lead"><a href="#">Music.</a></li>
          <li class="lead"><a href="#">Bullshit.</a></li>
          <li class="lead"><a href="#">Bands.</a></li>
          <li class="lead"><a href="#">Archives.</a></li>
        </ul>
        <div class="menu-centered">
          <ul class="horizontal menu">
            <li><a href="#">Facebook.</a></li>
            <li><a href="#">Twitter.</a></li>
            <li><a href="#">Tumblr.</a></li>
          </ul>
        </div>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
